@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cyber-base text-cyber-text font-sans antialiased overflow-hidden;
  }
}

/* Custom Scrollbar for sleek vibe */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #1E293B; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; 
}
